main {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  margin-top: 40px;
}

app-home, app-post {
  width: 70%;
}

app-post-form {
  width: 100%;
}

.post-vote-box {
  width: 50px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  flex-shrink: 0;
}

.post-vote-box button{
  color: black;
}

.post-vote-box button:hover{
  text-decoration: none;
  color: black;
}

.post-vote-box button:focus{
  text-decoration: none;
}

.post-vote-button {
 padding: 0px;
 border: 0px;
}

.post-votes-number {
  text-align: center;
}

.post-thumbnail-box {
 margin-right: 5px;
}

.post-thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.post-title a:hover{
  text-decoration: none;
}

.post-meta {
  font-size: 0.7em;
}

.post-meta, .post-meta a {
  color: #888888;
}