.comment-text {
  margin-bottom: 0.2rem;
  max-width: 50em;
  white-space: pre-line;
}

.comment-meta {
  margin-left: 50px;
}

.comment-meta, .comment-meta button {
  font-size: 0.9em;
  line-height: 0.9em;
}